section {
  width: 750px;
  margin-block: 20px;
  margin-inline: auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1,
h2 {
  color: #4caf50;
}
