.page {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  /* width: 81.25rem; */
  max-width: 81.25rem;
  min-height: 100vh;
  margin-inline: 7.5rem;
  padding-top: 2.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
}
