.page {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  max-width: 81.25rem;
  margin-inline: auto;
  padding-top: 2.5rem;
}

.page ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
