* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  font-family: sans-serif;
  font-size: 2.5rem;
}

.seccion-principal {
  display: flex;
  margin-top: 2rem;
  padding: 5rem;
}

.SP-textos {
  margin: auto;
  padding: 1rem;
}
.SP-textos p {
  width: 500px;
}

.SP-textos h2 {
  font-family: sans-serif;
  font-size: 2.5rem;
}

.hero-img {
  position: relative;
  width: 450px;
  height: 400px;
}

.testimonios h2 {
  justify-content: center;
  text-align: center;
  margin: 2rem;
}

.testimonios-seccion {
  text-align: center;
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.testimonios-perfiles p {
  width: 200px;
}

.testimonios-perfiles img {
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
  object-fit: cover;
}

.mapa {
  width: 100%;
  margin-top: 5rem;
}
