.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4.5rem;
  width: 100vw;
  background-color: var(--surface);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav,
.options {
  display: flex;
  gap: 0.5rem;
}

.options > img {
  border-radius: 50%;
}
